.mainforget{
    width: 100%;
    display: flex;
}
.imgotpmainf {
    position: relative;
    width: 50%;
    height: 700px;
    flex-shrink: 0;
  }
  .Otptextf {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    color: var(--C-4, #fff);
    text-align: center;
    font-family: "Open Sans";
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100%;
    padding-top: 10%;
  }
  .background-imageOtpf {
    /* .background-image buyer */
    height: 100%;
    width: 100%;
  }
  .write{
    display: "flex" ; 
    width: 42%;
    color: #6A6A6A;
    text-align: center;
    font-family: "Open Sans";
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

/* step 2 */
  .main-2f{
  width: 50%;
  }
  .main2-1f {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .otpphonef {
    padding-top: 80px;
  }
  .main2-2f {
    padding-top: 20px;
    color: var(--Yellow-Color, #00394d);
    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .inputfieldf {
    width: 50%; /* Adjust the width as needed to fit 6 input fields */
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  .buttonotpf {
    cursor: pointer;
    background-color: #dc4326;
    width: 267px;
    height: 55px;
    border-radius: 5%;
    margin-top: 10%;
    font-size: larger;
    color: #fff;
  }
  @media (max-width: 900px) {
    .mainforget {
      display: block;
      width: 100%;
    }
    .imgotpmainf {
      width: 100%;
    }
    .main-2f {
      /* background-color: aqua; */
      width: 100%;
    }
  }