.mainbuyer {
  /* main div  */
  display: flex;
}

/* step-1 css  */

.buyerimage {
  /* image buyer */
  position: relative;
  width: 55%;
}
.buyerbackground-image {
  /* .background-image buyer */
  height: 100%;
  width: 100%;
}
.buyertext {
  /* text buyer */
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  color: var(--C-4, #fff);
  text-align: center;
  font-family: "Open Sans";
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 100%;
  padding-top: 10%;
}

/*step-2 css  */
.maindivstep-1 {
  display: block;
  margin: 15px 0 0 10px;
  padding: 7% 0px 0 3%;
  width: 45%;
  /* display: flex; */
  /* justify-content: center; */
  align-items: center;
}
.buyer-serviceprovide {
  display: flex;
  gap: 15px;
}
.mainlogostep-1 {
  padding-left: 8%;
}
/* step-text and check box */
.mainradio-button{
    padding-top: 4%;
}
.buyer-divteg1 {
  color: var(--Yellow-Color, #00394d);
  font-family: "Open Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 3%;
  padding-right: 42;
}
.buyer-divteg2 {
  color: #6a6a6a;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.buyer-radio-buttons {
  border-radius: 15px;
  border: 1px solid #dc4326;
  background: #f3e4e1;
  width: 213px;
  height: 48px;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.05);
}
.seller-radio-buttons {
  width: 213px;
  height: 48px;
  border-radius: 15px;
  border: 1px solid #dfdfdf;
  background: #fff;
}
.buyerbussinessname-input{
    padding-top: 2%;
    color: var(--Yellow-Color, #00394D);
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 22px; /* 137.5% */
}
.line-input {
    border-right: 2px solid#DFDFDF;
    padding-left: 8px;
    width: 3px;
    height: 20px;
  }
.inputtextfield-business{
    width: 436px;
    height: 0.9px;
}
.buyerpersonal{
  color: var(--Yellow-Color, #00394D);
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 22px; /* 137.5% */
}
.mainbuyerpersonal{
  padding-top: 20px;
}
.inputnumber-main{
  display: flex;
  outline: none;
}
.iconphone{
  height: 20%;
  padding-top: 15px;
}
.inputnumber{
  /* padding: 12px 20px; */
  /* margin: 8px 0; */
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid#DFDFDF;
  width: 45px;
  outline: none;
  /* background-color: green; */
  border: none;
}
.number{
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid  #DFDFDF;
  
  width: 47%;
  outline: none;
}
.buttonbuyer{
  margin: 50px 10px  0 90px;

}
.buttoncs {
  /* margin-left: 14%; */
  cursor: pointer;
  margin-bottom: 5%;
  background-color: #dc4326;
  border-radius: 8px;
  background: var(--Blue-Color, #dc4326);
  border: none;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.16);
  display: flex;
  width: 267px;
  height: 55px;
  padding: 10px 54px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 122.222% */
}
.logingestbuyer {
  
  text-decoration: none;
  color: #969696;
  text-align: right;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  /* margin-left: 5%; */
}
.loginasbuyer {
  color: #dc4326;
  /* margin-top: 50px; */
}
@media (max-width: 900px)  {
  .mainbuyer {
    display: block;
  }
  .buyerimage {
    width: 100%;
  }
  .maindivstep-1{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .buyer-radio-buttons{
    width: 213px;
    height: 48px;
  }
  .seller-radio-buttons{
    width: 213px;
    height: 48px;
  }
  .buttonbuyer{
margin-right: 130px;
  }

}
@media (max-width: 464px)  { 
  .mainbuyer {
    display: block;
  }
  .buyerimage {
    width: 100%;
  }
  .maindivstep-1{
    width: 100%;
    display: flex;
    flex-direction: column;

  }
  .maindivstep-1 {
    display: block;
    /* margin: 20px 0 0 10px; */
    /* padding: 10% 0px 0 7%; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 390px)  { 
  .mainbuyer {
    display: block;
  }
  .buyerimage {
    width: 100%;
  }
  .maindivstep-1{
    width: 100%;
    display: flex;
    flex-direction: column;

  }
  .maindivstep-1 {
    display: block;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

