.mainbuyer2{
    display: flex;
    width: 100%;
  }
  /* loginimg */
  .backgroundlogin2 {
    position: relative;
    width: 55%;
  }
  .imagelogin2 {
    height: 100%;
    width: 100%;
  }
  .backgroundtext2 {
  padding-top: 10%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color: var(--C-4, #fff);
    text-align: center;
    font-family: "Open Sans";
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    width: 100%;
  }
  
  .mainbuyerstep2 {
    display: block;
    margin: 15px 0 0 10px;
    padding: 7% 0px 0 3%;
    width: 45%;
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
  }
  .mainlogostep-1 {
    padding-left: 8%;
  }
  .buyer-serviceprovide2 {
    display: flex;
    gap: 15px;
  }
  .buyer-divteg2 {
    color: var(--Yellow-Color, #00394d);
    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 3%;
    padding-right: 42;
  }
  .buyer-divteg12 {
    color: #6a6a6a;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .mainradio-button2{
    padding-top: 4%;

  }
  .buyer-radio-buttons2{
    border-radius: 15px;
    border: 1px solid #dc4326;
    background: #f3e4e1;
    width: 213px;
    height: 48px;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.05);
  }
  .seller-radio-buttons2 {
    width: 213px;
    height: 48px;
    border-radius: 15px;
    border: 1px solid #dfdfdf;
    background: #fff;
  }
  .buyerbussinessname-input2{
    padding-top: 2%;
    color: var(--Yellow-Color, #00394D);
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 22px; /* 137.5% */
}
.line-input2 {
  border-right: 2px solid#DFDFDF;
  padding-left: 8px;
  width: 3px;
  height: 20px;
}
.mybussiness{
  padding-top: 3%;
  color: #000;
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.choseop{
  overflow-y: 957px;
  overflow-x: 832px;
}
.clickable-image{
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D9D9D9;
  width: 436px;
  height: 160px;
  border: #F8F8F8;
  border-radius: 7%;
  border-style: dashed;
  }
  .already1{
    padding-left: 2%;
}
.buttonbuyer{
  background-color: #DC4326;
  width: 267px;
  height: 55px;
  border-radius: 5%;
  margin-top: 7%;
  margin-right: 14%;
  font-size: larger;
  color: #fff;
}
.ittakesbuyer{
  padding-top: 3%;
  color:#00394D;
  padding-left: 13%;
  overflow-y: 1586px;
  overflow-x: 905px;
  margin-bottom: 8%;
}
.alreadybuyer{
  margin-left: 1%;
}
.loginspan2{
  padding-left: 2px;
  display: block;
  justify-content: center;
  align-items: center;
}
.alreadyhave2{
  padding-left: 13%;
}