
.mainbuyer2 {
  display: flex;
  width: 100%;
}
/* loginimg */
.backgroundlogin2 {
  position: relative;
  width: 55%;
}
.imagelogin2 {
  height: 100%;
  width: 100%;
}
.backgroundtext2 {
  padding-top: 10%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  color: var(--C-4, #fff);
  text-align: center;
  font-family: "Open Sans";
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: absolute;
  width: 100%;
}
/* step-2 */
.mainbuyerstep2 {
  width: 80%;
}
.buyerloginstep2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.maincss {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
}
.mainlogostep-2 {
  padding-left: 8%;
}
.buyer-serviceprovide2 {
  display: flex;
  gap: 15px;
}
.buyer-divteg2 {
  color: var(--Yellow-Color, #00394d);
  font-family: "Open Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 3%;
  padding-right: 42;
}
.buyer-divteg12 {
  color: #6a6a6a;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.mainradio-button2 {
  
  display: flex;
  padding-top: 4%;
  width: 100%;
}

.buyerbussinesinput-type2 {
  display: block;
  justify-content: center;
  align-items: center;
}

.line-input2 {
  border-right: 2px solid#DFDFDF;
  padding-left: 8px;
  width: 3px;
  height: 20px;
}
.mybussiness {
  color: #000;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.choseop {
  overflow-y: 957px;
  overflow-x: 832px;
}
.clickable-image {
  cursor: pointer;
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
  width:80%;
  height: 160px;
  border: #f8f8f8;
  border-radius: 7%;
  border-style: dashed;
}
.already1 {
  padding-left: 2%;
}
.buttonbuyer {
text-decoration: none;
  cursor: pointer;
  background-color: #dc4326;
  width: 267px;
  height: 55px;
  border-radius: 5%;
  margin-top: 7%;
  margin-right: 14%;
  font-size: larger;
  color: #fff;
}
.ittakesbuyer {
  padding-top: 3%;
  padding-left: 13%;
  overflow-y: 1586px;
  overflow-x: 905px;
  margin-bottom: 5%;
  color: var(--Yellow-Color, #00394d);
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.alreadybuyer {
  margin-left: 1%;
}
.loginspan2 {
  padding-left: 2px;
  display: block;
  justify-content: center;
  align-items: center;
}
.alreadyhave2 {
  padding-left: 13%;
}

@media (max-width: 953px) {
  .mainbuyer2 {
    display: block;
  }
  .maincss {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .mainbuyerstep2 {
    width: 70%;
  }
  .buttonbuyer {
    cursor: pointer;
    background-color: #dc4326;
    width: 267px;
    height: 55px;
    border-radius: 5%;
    margin-top: 0px;
    margin-right: 0px;
    margin: 0px;
    font-size: larger;
    color: #fff;
}
.clickable-image {
  width: auto;
}
  .mainlogostep-2 {
    padding-left: 0px;
  }
  .backgroundlogin2 {
    width: 100%;
  }

  .buyer-radio-buttons2 {
    width: 50%;
    height: 48px;
  }
  .seller-radio-buttons2 {
    width: 50%;
    height: 48px;
  }
  .mainlast-seller{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
