.mainseller {
  /* main div  */
  display: flex;
}

/* step-1 css  */

.sellerimage {
  /* image buyer */
  position: relative;
  width: 55%;
}
.buyerbackground-imageseller {
  /* .background-image buyer */
  height: 100%;
  width: 100%;
}
.sellertext {
  /* text buyer */
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  color: var(--C-4, #fff);
  text-align: center;
  font-family: "Open Sans";
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 100%;
  padding-top: 10%;
}

/*step-2 css  */
.maindivstep-1seller {
  display: block;
  margin: 15px 0 0 10px;
  padding: 7% 0px 0 3%;
  width: 45%;
  /* display: flex; */
  /* justify-content: center; */
  align-items: center;
}
.seller-serviceprovide {
  display: flex;
  gap: 15px;
}
.mainlogostep-1seller {
  padding-left: 8%;
}
/* step-text and check box */
.mainradio-buttonseller {
  padding-top: 4%;
}
.seller-divteg1 {
  color: var(--Yellow-Color, #00394d);
  font-family: "Open Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 3%;
  padding-right: 42;
}
.seller-divteg2 {
  color: #6a6a6a;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.seller-radio-buttons {
  border-radius: 15px;
  border: 1px solid #dc4326;
  background: #f3e4e1;
  width: 213px;
  height: 48px;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.05);
}
.seller1-radio-buttons {
  width: 213px;
  height: 48px;
  border-radius: 15px;
  border: 1px solid #dfdfdf;
  background: #fff;
}
.sellerbussinessname-input {
  padding-top: 2%;
  color: var(--Yellow-Color, #00394d);
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 137.5% */
}
.line-inputseller {
  border-right: 2px solid#DFDFDF;
  padding-left: 8px;
  width: 3px;
  height: 20px;
}
.inputtextfield-businessseller {
  width: 436px;
  height: 0.9px;
}
.sellerpersonal {
  color: var(--Yellow-Color, #00394d);
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 137.5% */
}
.mainsellerpersonal {
  padding-top: 20px;
}
.inputnumber-mainseller {
  display: flex;
  outline: none;
}
.iconphone {
  height: 20%;
  padding-top: 15px;
}
.inputnumber {
  /* padding: 12px 20px; */
  /* margin: 8px 0; */
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid#DFDFDF;
  width: 45px;
  outline: none;
  /* background-color: green; */
  border: none;
}
.number {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #dfdfdf;

  width: 47%;
  outline: none;
}
.buttonseller {
  margin: 50px 10px 0 90px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.buttoncseller {
  /* margin-left: 14%; */
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 5%;
  background-color: #dc4326;
  border-radius: 8px;
  background: var(--Blue-Color, #dc4326);
  border: none;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.16);
  display: flex;
  width: 267px;
  height: 55px;
  padding: 10px 54px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 122.222% */
}
.mainradio-button2 {
  display: flex;
  width: 100%;
  /* background-color: red; */
}
.create1 {
  width: 50%;
}
.logingestseller {
  text-decoration: none;
  color: #969696;
  text-align: right;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  /* margin-left: 5%; */
}
.loginaseller {
  color: #dc4326;
  /* margin-top: 50px; */
}
@media (max-width: 900px) {
  .mainseller {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .sellerimage {
    width: 100%;
  }
  .maindivstep-10 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .seller-radio-buttons {
    width: 213px;
    height: 48px;
  }
  .seller1-radio-buttons {
    width: 213px;
    height: 48px;
  }
  .buttonseller {
    margin-right: 130px;
  }
}
@media (max-width: 464px) {
  .mainseller {
    width: 100%;
    display: block;
  }
  .sellerimage {
    width: 100%;
  }

  .maindivstep-10 {
    display: flex;
    /* margin: 20px 0 0 10px; */
    padding: 10%  0 0  7%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 390px) {
  .mainseller {
    display: block;
    width: 100%;
  }
  .sellerimage {
    width: 100%;
  }

  /* .maindivstep-10 {
    display: block;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */
  .mainradio-button2 {
    display: flex;
    width: 100%;
  }
 
}
