/* mainlogin */
.mainLogin1 {
  display: flex;
  width: 100%;
}
/* loginimg */
.backgroundlogin {
  position: relative;
  width: 55%;
}
.imagelogin1 {
  height: 100%;
  width: 100%;
}
.backgroundtext {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  color: var(--C-4, #fff);
  text-align: center;
  font-family: "Open Sans";
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: absolute;
  width: 100%;
}
/* logininput */
.logininput {
  margin: 10px 0 0 20px;
  padding: 7% 0px 0 8%;
  width: 45%;
}
.loginlogo {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding-right: 30%; */
}
.mylogo1 {
  width: 356px;
  height: 50px;
  flex-shrink: 0;
}
span {
  padding-left: 6%;
  padding-top: 4%;
  color: var(--Yellow-Color, #00394d);
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.32px;
}
.divteg1 {
  color: var(--Yellow-Color, #00394d);
  font-family: "Open Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 10%;
}
.divteg2 {
  color: #6a6a6a;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.inputtypemain {
  padding-top: 3%;
  width: 70%;
}
.vl {
  border-right: 2px solid#DFDFDF;
  padding-left: 8px;
  width: 3px;
  height: 20px;
}
.step3 {
  padding-top: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  /* background-color: #dc4326; */
}
.serviceprovide {
  display: flex;
  gap: 15px;
}
.forget {
  text-decoration: none;
  color: #949494;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 157.143% */
}
.buttoncs {
  /* margin-left: 14%; */
  background-color: #dc4326;
  border-radius: 8px;
  background: var(--Blue-Color, #dc4326);
  border: none;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.16);
  display: flex;
  width: 267px;
  height: 55px;
  padding: 10px 54px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  /* margin-bottom: 5%; */
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 122.222% */
}
.haveaccount {
  color: #969696;
  /* text-align: center; */
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  padding: 0px;
  line-height: 22px; /* 157.143% */
  /* padding-left: 15%; */
}
.create {
  color: #dc4326;
  margin-left: 10px;
  text-decoration: none;
  /* padding-top: 10%; */
}
.logingest {
  text-decoration: none;
  /* margin-left: 5%; */
}
.loginas {
  color: #dc4326;
  /* margin-top: 50px; */
}
@media (max-width: 900px) {
  .mainLogin1 {
    display: block;
  }
  .backgroundlogin {
    width: 100%;
  }

  .logininput {
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .inputtypemain {
    padding-top: 3%;
    width: 100%;
  }
  .serviceprovide {
    gap: 0px;
    justify-content: space-around;
  }
}
